<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto" id="main-content">
        <h1>{{msg}}</h1>
        <h2 id="header">What's For Dinner?</h2>

          {{#each questions}}
          <div class= "questionwrapper">
          <div id="question">{{this.food_question}}</div>

          <button type="button" class="btn btn-info btn-hover color-2 food-choice" data-id={{this.id}}>{{this.food_choices1}}</button>
          <button type="button" class="btn btn-info btn-hover color-2 food-choice" data-id={{this.id}}>{{this.food_choices2}}</button>
          <button type="button" class="btn btn-info btn-hover color-2 food-choice" data-id={{this.id}}>{{this.food_choices3}}</button>
          <button type="button" class="btn btn-info btn-hover color-2 food-choice" data-id={{this.id}}>{{this.food_choices4}}</button>

          {{/each}}

          <div id="question">Do you feel like going out to eat or staying in and cooking?</div>


        </ul>
      </div>
    </div>
    <div class="row" id="submit-buttons">
      <button type="button" id="go-out" class="btn btn-info btn-hover color-6">Go Out</button>
      <button type="button" id="stay-in" class="btn btn-info btn-hover color-9">Stay In</button>
    </div>
  </div>
</div>
