<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto" id="main-content">
                <!-- Modal -->
        <div class="modal fade" id="restaurantModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">
                  Looks like you might be in the mood for {{survey.response}}!
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-footer mx-auto">
                  Here's a suggestion for you to cook:
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center mb-4">
            <h2 class="display-4" id="recipe-title">{{recipe.title}}</h2>
          </div>
          <div class="row mx-auto pb-3">
            <img src="{{recipe.image}}" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col mx-5">

            <div class="row">
              <span><b>Ready in: </b> {{recipe.readyInMinutes}} minutes </span>
            </div>
            <div class="row">
              <span><b>Servings: </b> {{recipe.servings}} </span>
            </div>
            <div class="row">
              <b>Ingredients:</b>
                <div class="row">
                {{#each ingredients}}
                  <ul>
                    <li>{{this.original}}</li>
                  </ul>
                {{/each}}
                </div>
            </div>
            <div class="row">
              <b>Instructions:</b> {{recipe.instructions}}
            </div>
          </div>
        </div>
        <hr id="yelp-divider">
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-secondary mx-auto mt-4" id="back-button">Back</button>
    </div>
  </div>
</div>
