<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto" id="main-content">
        <!-- Modal -->
        <div class="modal fade" id="restaurantModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">
                  Looks like you might be in the mood for {{survey.response}}!
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-footer mx-auto">
                  Here are some suggestions:
                </div>
            </div>
          </div>
        </div>
        {{#each results}}
          <div class="row">
            <div class="col text-center mb-4">
              <a href="{{this.url}}" class="display-4" id="yelp-title">{{this.name}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col" id="yelp-info">

              <div class="row">
                Yelp Rating: {{this.rating}}
              </div>
              <div class="row">
                Address: {{this.location.display_address}}
              </div>
              <div class="row">
                Price: {{this.price}}
              </div>
              <div class="row">
                Phone: {{this.display_phone}}
              </div>
            </div>
            <div class="col">
              <img src="{{this.image_url}}" id="yelp-image" width="200" max-height="80px">
            </div>
          </div>
          <hr id="yelp-divider">
        {{/each}}
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-secondary mx-auto mt-4" id="back-button">Back</button>
    </div>
  </div>
</div>
